node_modules/
npm-debug.log*
.DS_Store
test-results/
.shortcut-created
launcher/*.res
.version
*.exe.old
custom-art/*
!custom-art/README.md
.shortcut-created-arnak
.shortcut-created-champions
saves/
.shortcut-created-keepout
.shortcut-created-lotr
