#pragma code_page(65001)
#include <winver.h>
1 ICON "../keepout/public/icon.ico"
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041204B0"
    BEGIN
      VALUE "FileDescription", "킵 더 히어로즈 아웃"
      VALUE "ProductName", "킵 더 히어로즈 아웃 (Keep the Heroes Out)"
      VALUE "FileVersion", "1.0.0"
      VALUE "ProductVersion", "1.0.0"
      VALUE "OriginalFilename", "킵더히어로즈.exe"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0412, 1200
  END
END
